.flex-container {
border: 2px solid grey;
padding: 10px;
min-height: 150px;
display: flex;
flex-direction: row; 
flex-wrap: wrap;


}

.flex-item {
border: 1px solid purple;
margin: 5px;
padding: 15px;
text-align: center;
font-weight: bold;
width: 400px;


}

#child-1 {
    background-color: blueviolet;
    
    
}
.child-2{
    background-color: blanchedalmond;

}
.child-3 {
    background-color: aquamarine;

}

.child-4 {
    background-color: rgb(219, 114, 114);
}